body {
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

* {
  font-family: "Uchen", serif;
}

/* NavigationBar */
.navbar nav a {
  font-style: 18px;
}

/* Explore */
.form-select {
  width: 30% !important;
}
